<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpeechToTextPassword</key>
	<string>m53oTWcdkNH7</string>
	<key>SpeechToTextUsername</key>
	<string>5e8cd29d-0ce0-4358-aa4e-f584d1c36331</string>
</dict>
</plist>
